<!DOCTYPE html>
<html lang="en-us">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <title>Life Overflow</title>

<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">



<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<link rel="stylesheet" type="text/css" href="../public/assets/css/main.css">
</head>
<body id="bodybackground">


<div id="logo">
    <img id="actuallogo" src="../public/assets/images/logo2.PNG">
</div>

<div id="cardsection">
<div id="firstbox" class="card text-white bg-warning mb-3" style="max-width: 32rem;">
    <div class="card-body">
        <h4 class="card-title">Our Goal</h4>
<p class="card-text">A community of genuine individuals reaching out to provide or receive assistance across all walks of life.</p>
    </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">Our Values</h4>
<p class="card-text">Due to the potentially sensitive nature of the topics discussed in our community, we strive to ensure that responses are
    all constructive. We heavily moderate against trolls, fake accounts, and abusive users.</p>
    </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 32rem;">
    <div class="card-body">
        <h4 class="card-title">The Flow</h4>
        <p class="card-text">Using our site is really simple; just log in, click whether or not you want help or would like to recieve help and you're on your way.</p>
    </div>
</div>
<div id="bottombox" class="card text-white bg-info mb-3" style="max-width: 40rem;">
    <div class="card-body">
        <h4 class="card-title">No Hassle Signup</h4>
        <p class="card-text">Our sign up process is as simple as having a Facebook account, and logging in through that. No additional info required.</p>
    </div>
</div>
</div>

<!-- <div class="footer">
    <p>Footer</p>
</div> -->



</body>
</html>