
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<h3>Reck</h3>
<h2>That</h2>
<h1>BODY!</h1>

{{#each threads}}
<p>{{id}}</p>
<p>{{body}}</p>
<p>{{CategoryId}}</p>

{{/each}}



<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/assets/js/threads.js" type="text/javascript"></script>
<script>


</script>

