<script>
<<<<<<< HEAD
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1791323147839783',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });


    FB.getLoginStatus(function(response) {
      getImg();
      name();
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // gets image and then renders the FB on the page
    function getImg() {
      FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function(response) {

        $.get("/api/getImg/"+ response.id, function(data){

          document.getElementById("profilePic").setAttribute("src", data);
        })
      });
    }
    
    function name() {
      FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function(response) {

        $.get("/api/checkUser/"+ response.id, function(data){
            console.log(data);
            var date = data.createdAt;
            var format = "";
            	for (var i = 0; i < 9; i++) {
				var num = date.charAt(i);
				format = format + num;
				}
			var final = format.split("-");
			console.log(final);
          document.getElementById('userName').innerHTML = data.userName;
          document.getElementById('date').innerHTML = "Joined Community On: " + final[2].toString() + "-" + final[1].toString() + "-" + final[0].toString();
        })
      });
    }

    function getHelp() {
    	$.get("/threads/modal", function(data){
       window.location.replace("/threads/modal");
    	})
    }

    function goHelp() {
      $.get("/threads", function(data){
       window.location.replace("/threads");
      })
    }
</script>


<div class="container-fluid" id="profilebackground">
  <div class="jumbotron jumbotron bg-cover jumbotron-fluid">
    <div class="container">
      <div id="profilelogo">
        <img src="/assets/images/favicon.png">
      </div>
    </div>
  </div>

  <div id="userInfo">
    <h1 id="userName"></h1>
    <img id="profilePic" src="">
    <h2 id="date">Join Date: </h2>
  </div>

  <div id="connections">
    {{#each Ally}}
      <h3 id="thread-category"></h3>
      <h5 id="ally-name"></h5>
    {{/each}}
  </div>

  <div id="profilebuttons">
    <button id="buttonsize" type="button" class="btn lg btn-warning" style="background-color: transparent" onclick="goHelp()">
        <img id="charlie" src="/assets/images/charliebrown.jpg" height="50" width="50" class="rounded-circle" alt="Charlie Brown">Give Help</button>
    <button id="buttonsize2" type="button" class="btn lg btn-warning" style="background-color: transparent" onclick="getHelp()">
        <img id="puzzle" src="/assets/images/mentalhealth.jpg" height="50" width="50" class="rounded-circle" alt="Puzzled"> I Need Help</button>
    <div id="medical">
      <img id="spiral" src="/assets/images/medical.png" height="80" width="80">
    </div>
    <div id="doctor">
      <img id="steth" src="/assets/images/tool.png" height="80" width="80">
    </div>

  </div>

<div id="facebookbutton2" class="fb-login-button" data-width="250" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>

</div>