<div class="container-fluid" id="profilebackground">


            <div class="jumbotron jumbotron bg-cover jumbotron-fluid">
                <div class="container">
                    <div id="profilelogo">
                        <img src="../public/assets/images/favicon.png">
                    </div>
                </div>   
            </div>



            <div id="profilebuttons">
                    <button id="buttonsize" type="button" class="btn lg btn-warning" style="background-color: transparent">
                            <img id="charlie" src="../public/assets/images/charliebrown.jpg" height="50" width="50" class="rounded-circle" alt="Charlie Brown">Give Help</button>
                    <button id="buttonsize2" type="button" class="btn lg btn-warning" style="background-color: transparent">
                        <img id="puzzle" src="../public/assets/images/mentalhealth.jpg" height="50" width="50" class="rounded-circle" alt="Puzzled"> I Need Help</button>
                    <div id="medical">
                        <img id="spiral" src="../public/assets/images/medical.png" height="80" width="80">
                    </div>
            </div>
<hr>
</div>
