<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF8">
        <title>test profile</title>
        <link href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Merienda+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body id="profilebackground">


<div class="jumbotron jumbotron bg-cover jumbotron-fluid">
    <div class="container">
        <div id="profilelogo">
            <img src="../public/assets/images/favicon.png">
        </div>
    </div>   
</div>



<div id="profilebuttons">
    <button id="buttonsize" type="button" class="btn lg btn-warning" style="background-color: transparent">
            <img id="charlie" src="../public/assets/images/charliebrown.jpg" height="50" width="50" class="rounded-circle" alt="Charlie Brown">Give Help</button>
    <button id="buttonsize" type="button" class="btn lg btn-warning" style="background-color: transparent">
        <img id="puzzle" src="../public/assets/images/mentalhealth.jpg" height="50" width="50" class="rounded-circle" alt="Puzzled"> I Need Help</button>
    <hr>
    <div id="medical">
        <img id="spiral" src="../public/assets/images/medical.png" height="80" width="80">
    </div>
</div>


</body>
</html>
