<script>
  
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1791323147839783',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });


    FB.getLoginStatus(function(response) {
      getImg();
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // gets image and then renders the FB on the page
    function getImg() {
      FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function(response) {

        $.get("/api/getImg"+ response.id, function(data){

          document.getElementById("profilePic").setAttribute("src", data);
        })
      });
    }
    
    function name() {
      FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id'}, function(response) {

        $.get("/api/checkUser/"+ response.id, function(data){

            var date = data.createdAt;
            var res = date.split(" ");
            console.log(res);
          document.getElementById('userName').innerHTML = data.userName;
          document.getElementById('date').innerHTML = res[0];
        })
      });
    }

</script>

<div class="container-fluid" id="profilebackground">


            <div class="jumbotron jumbotron bg-cover jumbotron-fluid">
                <div class="container">
                    <div id="profilelogo">
                        <img src="../public/assets/images/favicon.png">
                    </div>
                </div>   
            </div>

<div id = "userInfo">
<h1 id = "userName"></h1>
<img id = "profilePic" src="">
<h2 id = "date"></h2>
</div>
                <div id="profilebuttons">
                    <button id="buttonsize" type="button" class="btn lg btn-warning" style="background-color: transparent">
                            <img id="charlie" src="../public/assets/images/charliebrown.jpg" height="50" width="50" class="rounded-circle" alt="Charlie Brown">Give Help</button>
                    <button id="buttonsize2" type="button" class="btn lg btn-warning" style="background-color: transparent">
                        <img id="puzzle" src="../public/assets/images/mentalhealth.jpg" height="50" width="50" class="rounded-circle" alt="Puzzled"> I Need Help</button>
                    <div id="medical">
                        <img id="spiral" src="../public/assets/images/medical.png" height="80" width="80">
                    </div>
                </div>
<hr>
</div>
