<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF8">
        <title>test profile</title>
        <link href="https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Merienda+One" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body id="profilebackground">


<div class="jumbotron jumbotron bg-cover jumbotron-fluid">
    <div class="container">
        <div id="profilelogo">
            <img src="../public/assets/images/favicon.png">
        </div>
    </div>   
</div>


<!-- <h1 class="display-3">Life Overflow</h1> -->

<div id="profilebuttons">
    <button id="buttonsize" type="button" class="btn lg btn-warning">Give Help</button>
    <button id="buttonsize" type="button" class="btn lg btn-warning">I Need Help</button>
    <hr>
</div>

</body>
</html>
