#bodybackground {
    background-image: url("../images/sadface.jpg");
    background-size: cover;
}

.card {
    margin-left: 5px;
}

#actuallogo {
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 400px;
    height: 100px;
}

#bottombox {
    margin-bottom: 50px;
}

#cardsection {
    margin-top: -30px;
}


/* PROFILE PAGE */

#profilebackground {
    background-image: url("../images/dice.jpeg");
    background-position: 10% 53%;
    z-index: 2;
}

.jumbotron {
    background-image: url("../images/greensmile.jpeg");
    background-size: 100%;
    background-position: 50% 25%;
    height: 300px;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#helpfont {
    font-family: 'Just Me Again Down Here', cursive;
}

#needhelpfont {
    font-family: 'Just Me Again Down Here', cursive;
}

.buttons {
    border-radius: 100px;
}

#profilebuttons {
    padding-top: 40px;
    margin-bottom: 175px;
    padding-bottom: 600px;
    margin-left: 800px;
}

#buttonsize {
    margin-left: 3px;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 40px;
    position: relative;
    display: inline-block;
    font-size: 30px;
    text-shadow: 10px;
    padding: 20px 60px;
    color: black;
    margin: 20px 10px 10px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #e3c600; 
    box-shadow: 0 0 0 1px #F0D264 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 rgba(196, 172, 83, .7), 0 8px 0 1px rgba(0, 0, 0, .4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

#buttonsize:active {
    box-shadow: 0 0 0 1px #e3c600 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
    top: 9px;
}


}
.btn {
    float: right;
    background-color: inherit;
}
#profilelogo {
    margin-left: 445px;
    z-index: 1;
    margin-top: -10px;
}