#bodybackground {
    background-image: url("../images/sadface.jpg");
    background-size: cover;
}


.footer {
    position: fixed;
    height: 10vh;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.card{
    margin-left: 5px;
}

#actuallogo{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 40px;
    width: 400px;
    height: 100px;


}

#bottombox{
    margin-bottom: 50px;
}

#cardsection{
    margin-top: -30px;
}